*{
  margin: 0;
  padding: 0;
}

body{
  background: url(../img/calculator.jpg);
  position:center;
  background-size: cover;
  position: fixed;
}

header {
  width: 100%;
  height: 110px;
  background: rgba(68, 31, 68, 0.5);
  position: fixed;
}

.wrapper {
  margin-top: -18px;
}

.logo {
  float: left;
}

.nav {
  float: left;
}

.botones {
  padding-top: 150px;
  padding-left: 114px;
}

.botones a {
  padding: 53px;
  margin-left:11px;
}

/*Calculador*/

#contenido{
  width: 36%;
  margin: auto;
  background: rgba(236, 63, 8, 0.7);
  margin-top: 150px;
}

#contenido input {
  font-size: 32px;
  margin: auto;
  font-family: 'Play', sans-serif;
}

#contenido button {
  padding: 5px;

}

#boton {
  text-align: center;
  padding: 50px 0 0 270px;
  font-family: 'Play', sans-serif;
}

button{
  padding: 8px;
  color: red;
  font-family: 'Play', sans-serif;
  font-size: 25px;
  background: rgba(12, 12, 11, 0.2);
}

h1{
  text-align: center;
  font-family: 'Stint Ultra Expanded', cursive;
}

/*Animación*/
.cohete{
  margin-top: -105px;
  margin-left: 20px;
}
