*{
  margin: 0;
  padding: 0;
}

  body{
    background: url(../img/calculator.jpg);
    position:center;
    background-size: cover;
  }

  header {
    width: 100%;
    height: 112px;
    background: rgba(68, 31, 68, 0.5);
  }

  .logo {
    float: left;
  }

  .logo img {
    padding-top: 15px;
  }

  h1{
    text-align: center;
    font-family: 'Stint Ultra Expanded', cursive;
  }

  .nav {
    float: left;
  }

  .botones {
    padding-top: 190px;
    text-align: center;
  }

  .botones a {
    padding: 65px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 30px;
    font-family: 'Play', sans-serif;
  }
